body{
  background:hsl(30, 38%, 92%);
}
.container{
  margin-top: 100px;
  display:flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align:justify;
}
.container img{
  width: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.description{
  border-bottom-right-radius:5px ;
  border-top-right-radius: 5px;
  background: white;
  width:300px;
  padding-left: 30px;

}
.description h1{
  font-weight: 900;
  font-size: 2.3rem;
  font-family:fr

  
}
.space{
  letter-spacing: 5px;
}
.justify{
  font-size: 1.2rem;
  color:grey;
}
.price{
  font-size: 2rem;
  font-weight:900;
  color:hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
}
.price span{
  font-size: 1.2rem;
  color: #444;
  font-weight:0;
  font-family:none;

}
button{
  background:hsl(158, 36%, 37%);
  padding: 11px 48px;
  color: white;
  border:white;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: 20px;


}
.description button img{
  width: 20px;
  padding-right:6px;
}

